.my-login-div {
    background-image: url(../assets/pexels-alfin-auzikri-6003052.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-login-cont {
    width: 60vw;
    max-height: 90vh;
    border: 1px solid #f0f0ee;
    border-radius: 10px;
    color: #f0f0ee;
    padding: 1em;
    background-color: #6f737986;
    margin-top: 40px;
}
.my-carousel-img {
    width: 100vw;
}
.my-carousel-text {
    background-color: rgba(0, 0, 0, 0.5);
}
.my-product-cont {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.my-card-img {
    height: 12rem;
    object-fit: cover;
}
.my-card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.my-card-btn-cont {
    display: flex;
    justify-content: space-evenly;
}
.my-card-btn {
    width: 45%;
}