.btn-user {
    background-color: red;
}
.my-navbar {
    background-color: #272024;
    border-bottom: 1px solid #f0f0ee;
}
.my-logo {
    height: 40px;
    width: auto;
}
footer {
    background-color: #272024;
    color: #f0f0ee;
    border-top: 1px solid #f0f0ee;
    height: 20vh;
    padding: 1em;
    text-align: end;
}