.btn-user {
    background-color: red;
}
.my-navbar {
    background-color: #272024;
    border-bottom: 1px solid #f0f0ee;
}
.my-logo {
    height: 40px;
    width: auto;
}
/* .my-nav-link {
    color: #f0f0ee;
} */